<h1>My Dictionary</h1>
<br>
<h4>Words:</h4>
  <ul>
    <% @words.each() do |word| %>
      <li><a href="/word/<%= word.id() %>"><%= word.name() %></a></li>
    <% end %>
  </ul>
<br><br>

<p>Add new word here:</p>

<form action="/word" method="post">
  <input id='name' name='name' type='text'>
  <button type="submit">Add New Word</button>
</form>
